<h1>Doctor's Show Page</h1>

<p><strong>Doctor's Name: </strong><%= @doctor.name %></p>
<p><strong>Doctor's Specialty: </strong><%= @doctor.specialty %></p>
<p><strong>Doctor's University: </strong><%= @doctor.university %></p>
<p><strong>Doctor's Hospital: </strong><%= @hospital.name %></p>
<p><strong>Doctor's Patients: </strong></p>
<% @doctor.patients.each do |patient| %>
<div id="patient-<%= patient.id %>">
  <p><strong>Patient's Name: </strong><%= patient.name %> <%= button_to "Delete #{patient.name}", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %><br>
  <strong>Patient's Age: </strong><%= patient.age %><br></p>
</div>
<% end %><br><br>